.img1, .img5, .img10, .img15{
    background-image: url(https://t3.ftcdn.net/jpg/06/15/49/68/360_F_615496890_W34yB8VDE6n5pehb5QCt1ek5oEvRo9qA.jpg);
}

.img2, .img6, .img11, .img16{
    background-image: url( https://img.freepik.com/free-photo/animal-eye-staring-close-up-watch-nature-generative-ai_188544-15471.jpg);
}

.img4, .img8, .img12, .img16{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/022/654/478/small_2x/generative-ai-illustration-of-valentine-day-background-love-romantic-concept-heart-shape-neural-network-generated-art-digitally-generated-image-not-based-on-any-actual-scene-or-pattern-photo.jpg);
}

.img3, .img7, .img14, .img17{
    background-image: url( https://img.freepik.com/free-photo/colorful-design-with-spiral-design_188544-9588.jpg);
}